<?php
/**
 * Copyright (c) 2019  arvato Finance B.V.
 *
 * AfterPay reserves all rights in the Program as delivered. The Program
 * or any portion thereof may not be reproduced in any form whatsoever without
 * the written consent of AfterPay.
 *
 * Disclaimer:
 * THIS NOTICE MAY NOT BE REMOVED FROM THE PROGRAM BY ANY USER THEREOF.
 * THE PROGRAM IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
 * OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
 * THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE PROGRAM OR THE USE OR OTHER DEALINGS
 * IN THE PROGRAM.
 *
 * @category    AfterPay
 * @package     Afterpay_Payment
 * @copyright   Copyright (c) 2019 arvato Finance B.V.
 */
?>
<?php $methodCode = $block->escapeHtml($block->getMethodCode()); ?>

<fieldset class="admin__fieldset payment-method" id="payment_form_<?php echo $methodCode ?>" style="display: none">
    <div class="admin__field _required">
        <label class="label admin__field-label" for="<?php echo $methodCode ?>_gender">
            <span><?php echo $block->escapeHtml(__('Gender')); ?></span>
        </label>
        <div class="admin__field-control control">
            <select id="<?php echo $methodCode ?>_gender" name="payment[customer_gender]"
                    class="required-entry select admin__control-select">
                <option value="1"><?php echo $block->escapeHtml(__('Male.')); ?></option>
                <option value="2"><?php echo $block->escapeHtml(__('Female.')); ?></option>
            </select>
            <?php echo $block->getDobFields(); ?>
        </div>
    </div>
    <div class="admin__field _required">
        <label class="label admin__field-label" for="<?php echo $methodCode ?>_dob">
            <span><?php echo $block->escapeHtml(__('Date of Birth')); ?></span>
        </label>
        <div id="<?php echo $methodCode ?>_dob" class="admin__field-control control">
            <select id="<?php echo $methodCode ?>_dob_days" class="select admin__control-select"></select>
            <select id="<?php echo $methodCode ?>_dob_months" class="select admin__control-select"></select>
            <select id="<?php echo $methodCode ?>_dob_years" class="select admin__control-select"></select>
            <input type="hidden" name="payment[customer_dob]" value=""/>
        </div>
    </div>
</fieldset>
<script>
    require([
        'jquery',
        'mage/translate'
    ], function ($, $t) {
        'use strict';

            var afterPayDobFields = {
                // Function to update the days based on the current values of month and year
                updateNumberOfDays: function (paymentMethod) {
                    var $days = $('#' + paymentMethod + '_dob_days'),
                        month = $('#' + paymentMethod + '_dob_months').val(),
                        year = $('#' + paymentMethod + '_dob_years').val(),
                        days = this.daysInMonth(month, year);

                    $days.append($('<option />').val('').html($t('Day')));

                    for (var i = 1; i < days + 1; i++) {
                        $days.append($('<option />').val(i).html(i));
                    }
                },

                // Helper function
                daysInMonth: function (month, year) {
                    return new Date(year, month, 0).getDate();
                },

                addDobFields: function (paymentMethod) {
                    var $paymentMethodEl = $('#p_method_' + paymentMethod),
                        self = this;
                    if (!$('#dob').length) {
                        if ($paymentMethodEl.length) {
                            var $dobMonths,
                                $dobYears;
                            $dobMonths = $('#' + paymentMethod + '_dob_months');
                            $dobYears = $('#' + paymentMethod + '_dob_years');

                            // Populate our months select box
                            $dobMonths.append($('<option />').val('').html($t('Month')));
                            for (var i = 1; i < 13; i++) {
                                $dobMonths.append($('<option />').val(i).html(i));
                            }

                            // Populate our years select box
                            $dobYears.append($('<option />').val('').html($t('Year')));
                            for (i = new Date().getFullYear(); i > 1900; i--) {
                                $dobYears.append($('<option />').val(i).html(i));
                            }

                            // Populate our Days select box
                            self.updateNumberOfDays(paymentMethod);

                            // Listen for change events
                            $('#' + paymentMethod + '_dob_years, #' + paymentMethod + '_dob_months').change(function () {
                                self.updateNumberOfDays(paymentMethod);
                                self.setDob(paymentMethod);
                            });

                            $('#' + paymentMethod + '_dob_days').change(function () {
                                self.setDob(paymentMethod);
                            });
                        }
                    }
                },
                setDob: function (paymentMethod) {
                    var month = $('#' + paymentMethod + '_dob_months').val(),
                        day = $('#' + paymentMethod + '_dob_days').val(),
                        year = $('#' + paymentMethod + '_dob_years').val(),
                        dob = $('input[name="payment[customer_dob]"]');

                    if (month && day && year) {
                        if (month < 10) {
                            month = '0' + month;
                        }

                        if (day < 10) {
                            day = '0' + day;
                        }

                        dob.val(month + '/' + day + '/' + year);
                    } else {
                        dob.val(null);
                    }
                }
            };
            afterPayDobFields.addDobFields('<?php echo $methodCode ?>');
    });
</script>