<?php
/**
 * Copyright (c) 2019  arvato Finance B.V.
 *
 * AfterPay reserves all rights in the Program as delivered. The Program
 * or any portion thereof may not be reproduced in any form whatsoever without
 * the written consent of AfterPay.
 *
 * Disclaimer:
 * THIS NOTICE MAY NOT BE REMOVED FROM THE PROGRAM BY ANY USER THEREOF.
 * THE PROGRAM IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
 * OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
 * THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE PROGRAM OR THE USE OR OTHER DEALINGS
 * IN THE PROGRAM.
 *
 * @category    AfterPay
 * @package     Afterpay_Payment
 * @copyright   Copyright (c) 2019 arvato Finance B.V.
 */
?>
<?php $methodCode = $block->escapeHtml($block->getMethodCode()); ?>

<fieldset class="admin__fieldset payment-method" id="payment_form_<?php echo $methodCode ?>" style="display: none">
    <div class="admin__field _required">
        <label for="po_number"
               class="admin__field-label"><span><?php echo $block->escapeHtml(__('COC Number')) ?></span></label>
        <div class="admin__field-control">
            <input type="text" id="<?php echo $methodCode ?>_coc_number" name="payment[coc_number]"
                   title="<?php echo $block->escapeHtml(__("COC Number")) ?>" class="required-entry admin__control-text"
                   value="<?php /* @noEscape */
                    echo $block->getInfoData('coc_number') ?>"/>
        </div>
    </div>
    <div class="admin__field _required">
        <label for="po_number"
               class="admin__field-label"><span><?php echo $block->escapeHtml(__('VAT Number')) ?></span></label>
        <div class="admin__field-control">
            <input type="text" id="<?php echo $methodCode ?>_vat_number" name="payment[vat_number]"
                   title="<?php echo $block->escapeHtml(__("VAT Number")) ?>" class="required-entry admin__control-text"
                   value="<?php /* @noEscape */
                    echo $block->getInfoData('vat_id') ?>"/>
        </div>
    </div>
</fieldset>