<?php
/**
 * Copyright (c) 2019  arvato Finance B.V.
 *
 * AfterPay reserves all rights in the Program as delivered. The Program
 * or any portion thereof may not be reproduced in any form whatsoever without
 * the written consent of AfterPay.
 *
 * Disclaimer:
 * THIS NOTICE MAY NOT BE REMOVED FROM THE PROGRAM BY ANY USER THEREOF.
 * THE PROGRAM IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
 * OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
 * THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE PROGRAM OR THE USE OR OTHER DEALINGS
 * IN THE PROGRAM.
 *
 * @category    AfterPay
 * @package     Afterpay_Payment
 * @copyright   Copyright (c) 2019 arvato Finance B.V.
 */
?>
<?php $methodCode = $block->escapeHtml($block->getMethodCode()); ?>

<fieldset class="admin__fieldset payment-method" id="payment_form_<?php echo $methodCode ?>" style="display: none">
    <div class="admin__field _required">
        <label class="label admin__field-label" for="tig_buckaroo_payperemail_genderSelect">
            <span><?php echo $block->escapeHtml(__('Gender')); ?></span>
        </label>
        <div class="admin__field-control control">
            <select id="<?php echo $methodCode ?>_gender" name="payment[customer_gender]"
                    class="required-entry select admin__control-select">
                <option value="1"><?php echo $block->escapeHtml(__('Male.')); ?></option>
                <option value="2"><?php echo $block->escapeHtml(__('Female.')); ?></option>
            </select>
        </div>
    </div>
</fieldset>